.select {
    color: #aaa;
    background-color: #1a1a1a;
    border: 1px solid var(--foreground);
}

.selectLabel {
    color: darkred;
    background-color: #1a1a1a;
    padding-left: 5px;
    padding-right: 5px;
}

.selectContainer {
    padding: 1rem;
}
