.select {
    color: var(--foreground);
    background-color: var(--background);
    border: 1px solid var(--foreground);
}

.selectLabel {
    color: var(--foreground);
    background-color: var(--background);
    padding-left: 5px;
    padding-right: 5px;
}

.selectContainer {
    color: var(--foreground);
    background-color: var(--background);
    padding: 1rem;
}
